{% extends 'base.html.twig' %}

{% block title %}DemandesNonConfirmées{% endblock %}

{% block body %}
    <h1>Demandes non confirmées</h1>

    {{ include('demande/_form.html.twig') }}

    <a href="{{ path('app_mes_demandes') }}">back to list</a>
{% endblock %}
